//
// Header classes
// --------------------------------------------------


header{
	font-family: 'GothamHTF-Book',sans-serif;
	font-style: normal;
	font-weight: normal;
	height: 75px;
	position: relative;
	border-bottom: solid 3px @primary-darken;
	padding-top: (@padding-base-vertical*2); padding-bottom: (@padding-base-vertical*2);
}

.width-logo{
	width: 180px;
	// @media (min-width: @screen-sm){
	// 	width: 200px;
	// }
 }

#logo {
	display: block;
	height: 47px; width: 180px;
	// margin: 14px 0 7px;
	overflow: hidden;
	position: relative;
}
#logo img {
	border: none;
	left: 0;
	position: absolute;
	top: 0;
}

.info-menu{
	.padding--sides--small;
	border-right: solid 1px;
	&:hover,
    &:focus {
    	color: @primary;
        text-decoration: none;
        .transition;
      }
}
