//
// Header classes
// --------------------------------------------------


header{
	border-bottom: solid 3px @primary-darken;  
}

.width-logo{
	width: 180px;
	@media (min-width: @screen-sm){
		width: 200px;
	}

 }