//
// Images classes
// --------------------------------------------------

.bg-image{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.rectangle{
	height: 250px;
	@media (min-width: @screen-sm){ height: 300px;}
}

.rectangle-small{
	height: 200px;
	@media (min-width: @screen-sm){ height: 250px;}
}
