//
// Images classes
// --------------------------------------------------

.bg-image{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.rectangle{
	height: 250px;
}

.rectangle-small{
	height: 200px;
}

.img-user{
	border-radius: 50%;
	margin: auto;
}

